<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="./assets/css/main.min.css">
    <link rel="stylesheet" href="./assets/css/slick.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <div class="header__background">
                <div class="header__background-wrapper">

                </div>
                <div class="header__background-img">
                    <img src="../assets/images/header.jpeg" alt="header">
                </div>
            </div>
            <nav class="nav">
                <div class="burger super-mobile">
                    <img src="../assets/images/burger.svg" alt="burger">
                </div>
                <div class="nav__phone">
                    <img src="./assets/images/phone.svg" alt="phone">
                    <a href="tel:">+7 980 222-35-44</a>
                </div>
                <ul class="nav__menu">
                    <li class="nav__menu-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#">Специальности</a>
                        <ul class="sub-menu custom-scroll">
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                            <li>
                                <a href="#">Повышение квалификации учителей математики</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#">Отзывы</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#">Контакты</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#">О нас</a>
                    </li>
                </ul>
                <div class="nav__soc">
                    <a href="#">
                        <img src="./assets/images/wa.svg" class="nav__soc_wa" alt="wa">
                    </a>
                    <a href="#">
                        <img src="./assets/images/vk.svg" class="nav__soc_vk" alt="vk">
                    </a>
                </div>
            </nav>


            <nav class="nav__mobile">
                <div class="container">
                    <div class="nav__mobile-header">
                        <div class="nav__mobile-close">
                            <img src="../assets/images/burger_close.svg" alt="close">
                        </div>
                        <div class="nav__mobile-vk">
                            <a href="#"><img src="../assets/images/vk.svg" alt="vk"></a>
                        </div>
                        <div class="nav__mobile-wa">
                            <a href="#"><img src="../assets/images/wa.svg" alt="wa"></a>
                        </div>
                        <div class="nav__mobile-phone">
                            <a href="#"><img src="../assets/images/phone.svg" alt="phone"></a>
                        </div>
                    </div>

                    <ul class="nav__mobile-menu">
                        <li class="nav__menu-item">
                            <a href="#">Главная</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#" class="disable_link">Специальности</a>

                            <ul class="sub-menu custom-scroll">
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                                <li>
                                    <a href="#">Повышение квалификации учителей математики</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#">Отзывы</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#">Контакты</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#">О нас</a>
                        </li>
                    </ul>
                    <form action="#" class="header__form">
                        <input type="text" class="header__input" placeholder="+7 (___)___-__-__">
                        <div class="header__form-privacy">
                            <button class="white__btn">Узнать</button>
                            <div class="privacy">
                                Отправляя заявку, вы принимаете условия<br>
                                политики конфиденциальности
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="nav__mobile_info">
                        <div class="nav__mobile_info-item">
                            <img src="./assets/images/phone.svg" alt="phone">
                            <span>
                                Телефон<br>
                                <a href="tel:+79802223544">+7 980 222-35-44</a>
                            </span>
                        </div>
                        <div class="nav__mobile_info-item">
                            <img src="./assets/images/location.svg" alt="location">
                            <span>
                                Адрес 127083, Россия, Москва, проспект Вернадского 39
                            </span>
                        </div>
                        <div class="nav__mobile_info-item">
                            <img src="./assets/images/mail.svg" alt="mail">
                            <span>
                                E-mail<br>
                                <a href="tel:+79802223544">.....</a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="header__content">
                <h1 class="header__title">
                    ПЕДАГОГИКА<br>
                    ДИСТАНЦИОННОЕ ОБУЧЕНИЕ<br>
                    И ПЕРЕПОДГОТОВКА
                </h1>
                <div class="header__subtitle">
                    Узнайте о вашей профессии
                </div>
                <form action="#" class="header__form">
                    <input type="text" class="header__input" placeholder="+7 (___)___-__-__">
                    <div class="header__form-privacy">
                        <button class="white__btn">Узнать</button>
                        <div class="privacy">
                            Отправляя заявку, вы принимаете условия<br>
                            политики конфиденциальности
                        </div>
                    </div>
                </form>
            </div>
            <div class="header__block">
                <div class="header__block-item">
                    Дистанционное<br>
                    обучение
                </div>
                <div class="header__block-item">
                    Повышение<br>
                    квалификации
                </div>
                <div class="header__block-item">
                    Профессиональная<br>
                    переподготовка
                </div>
                <div class="header__block-item">
                    Дистанционные<br>
                    онлайн-курсы
                </div>
            </div>
        </div>
    </header>